[Unit]
SourcePath=/etc/rc.d/init.d/BOPOSAdmin
Description=LSB: Oracle BO Weblogic Admin and POS Server Control service.
After=network-online.target
After=gcstartup.service
After=lockgcstartup.service
After=ohasd.service
Wants=network-online.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/rc.d/init.d/BOPOSAdmin start -s /bin/sh weblogic
ExecStop=/etc/rc.d/init.d/BOPOSAdmin stop -s /bin/sh weblogic
[Install]
WantedBy=multi-user.target
