[Unit]
SourcePath=/u01/app/oracle/support/admin/BOPOSAdminCtl.sh
Description=LSB: Oracle BO Weblogic Admin and POS Server Control service.
Before=multi-user.target
Before=multi-user.target
Before=multi-user.target
Before=graphical.target
After=network-online.target
After=gcstartup.service
After=lockgcstartup.service
After=ohasd.service
Wants=network-online.target

[Service]
Type=forking
User=weblogic
Group=weblogic
Restart=no
TimeoutSec=10min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/u01/app/oracle/support/admin/BOPOSAdminCtl.sh start
ExecStop=/u01/app/oracle/support/admin/BOPOSAdminCtl.sh stop


[Install]
WantedBy=multi-user.target
